<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View class</title>
</head>
<body>
<h1>View class: <span th:text="${classRoom.name}"></span></h1>
<a href="/classes">Province list</a>
<table border="1">
    <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Birth Day</th>
        <th>Address</th>
    </tr>
    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="${student.image}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.birthDay}"></td>
            <td th:text="${student.address}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>